.cm_upper-wrap{
    width: 574px;
    display: flex;
    justify-content: space-between;
}

.cm_input-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 574px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #F0EFEF;
    opacity: 0.7;
    padding: 0 14px 0 14px ;
}

.cm_input-wrap > div:nth-child(2){
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.cm_input-wrap > div:nth-child(2) >img{
    width: 24px;
    height: 24px;
}

.cm_input-wrap >input{
    border: none;
    background-color: transparent;
    color: white
}

.cm_input-wrap >input::placeholder{
    color: #D9D9D9;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cm_posts-wrap{
    margin: 5rem 20vw 0 20vw;
    display: grid;
    gap: 1vw;
    justify-content: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}