.review_input {
    width: 100%;
    height: 8rem;
    border-radius: 10px;
    border: 2px solid #1CA764;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* 요소들을 동일한 간격으로 정렬합니다. */
    margin: 4rem auto 0;
    padding-left: 6.5rem;
}

/* 후기 텍스트 스타일을 추가합니다. */
.review_input span {
    margin: 1rem;
    padding: 1rem; /* 텍스트 주변에 여백을 추가합니다. */
    font-size: 2rem;
}

.star-ranking-wrap{
    display: flex;
    align-items: center;
    gap: 12.7rem
}

/* 별점 관련 아이콘들의 스타일을 추가합니다. */
.star_rating {
    display: flex;
    align-items: center;
}
.fill_star, .vacant_star{
    color: green;
    width: 2.5rem;
    height: 2.5rem;
}
/* 별점 숫자의 스타일을 추가합니다. */
.number_rating {
    color: rgba(0, 0, 0, 0.40);
    font-family: Noto Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 1rem; /* 별점 숫자와 후기 작성하기 버튼 사이에 간격을 추가합니다. */
}

.review-title{
    color: #000;
    font-family: Noto Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review_btn{
    margin: 1rem;
    padding: 1rem;
    width: 10vw;
    height: 4.6rem;
    border-radius: 10px;
    border-radius: 5px;
    background: #1CA764;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}