.dd-single_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 6.5vw;
    height: 4.5rem;
    background-color: transparent;
    color: #000;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border-radius: 5px; */
    /* margin-bottom: 0.5rem; */
}