.mi_input-wrap{
    display: block;
    align-items: start;
}

.mi_title{
    color: #000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-bottom:4rem;
}
.mi_textarea{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background-color: white;
    min-height: 7rem;
    width: 100%;
    padding: 2.4rem 2.2rem 2.4rem 2.2rem;
    margin-bottom:4rem;
}

.mi_textarea_edit{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background-color: white;
    min-height: 7rem;
    width: 100%;
    padding: 2.4rem 2.2rem 2.4rem 2.2rem;
    margin-bottom:4rem;
}


.mi_textarea_edit{
    border-radius: 10px;
    border: 2px solid #1CA764;
    background-color: white;
    min-height: 7rem;
    width: 100%;
    padding: 2.4rem 2.2rem 2.4rem 2.2rem;
    margin-bottom:4rem;
}

.mi_textarea > textarea, .mi_textarea_edit > textarea{
    border: none;
    width: 80%;
    height: 100%;
    color: #808080;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea:focus {
    outline: none;
    border: none;
}

/* textarea{
    width: 100%;
} */



.mi_textarea > textarea::placeholder{
    color: #808080;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.mi_textarea_edit > textarea::placeholder{
    color: #808080;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.mentorIntro_btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.save_btn{
    width: 18vw;
    height: 7rem;
    border-radius: 10px;
    background-color: #1CA764;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modify_btn{
    border-radius: 10px;
    background: #D9D9D9;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 18vw;
    height: 7rem;
}
