.portfolio_more-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.8rem;
}

.portfolio_more-upper > div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 1vw;
}

.portfolio_more-upper > div:nth-child(1)>div:nth-child(1){
    display: flex;
    align-items: center;
}

.portfolio_edit-btn{
    width: 9.5vw;
    height: 5.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color:#1CA764;
}

.portfolio_edit-btn > div {
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}