div{
  box-sizing: border-box;
}

html{
  /* 1rem: 10px  */
  font-size: 10px;
}
body {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
  }

.side-padding-20vw{
  padding-left: 20vw;
  padding-right: 20vw;
}

.side-margin-142vw-lined{
  margin-left: 14.2vw;
  margin-right: 14.2vw;
  padding-top: 9.1rem;
  padding-left: 5.8vw;
  padding-right: 5.8vw;
  border-left: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
}
.top-padding-15rem{
  padding-top: 14.8rem;
}
.mh-nav.selected{
  font-weight: 600;
}



/* slick 기본 버튼 스타일 제거 */

/* .slick-prev:before, .slick-next:before {
  content: '' !important;
} */

.slick-prev:before, .slick-next:before {
  content: url('./assets/right.svg') !important;
  position: absolute;
}

.slick-prev:before {
  top: 15px;
  right: 20px; /* 오른쪽 화살표를 외부로 20px 이동 */
}

.slick-next:before {
  top: 15px;
  right: 20px; /* 오른쪽 화살표를 외부로 20px 이동 */
}

.cslider{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}


input {
  border: none;
  width: 100%;
  height: 100%
}
input:focus{
  border:none;
  outline: none; 
}



.flex {
  display: flex;
}

/* .side-line-left{
  position: absolute;
  top: 0px;
  left: 14.2vw;
  height: 3904px;
  border: 1px solid #D9D9D9;
} */

/* .side-line-right{
  position: absolute;
  top: 0px;
  right: 14.2vw;
  height: 3904px;
  border: 1px solid #D9D9D9;
} */