.ob_title-wrap{
    display: flex;
}

.ob_choices-title{
    color: #000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 4rem;
}

.ob_subtitle{
    color: #0342C9;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1vw;
}

.ob_choices-wrap{
    /* width: 100%; */
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin-bottom: 8rem;
}

.ob_choice{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F0EFEF;
}

.ob_choice-selected{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F0EFEF;
    border: 2px solid #1CA764;
}

.ob_choice-title {
    color: #000;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normail;
    font-weight: 400;
    line-height: normal;
}